<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body ng-app>
  	<div class="container" ng-controller="allControllers">
	  	<header>
	        <% include ../partials/header %>
	    </header>

      <div>
        <form novalidate>
          <p style="margin-top: 20px"><b>Total Pages = {{totPages}}</b></p>

          <span style="float: left; width: 33%">
            <p><b>Navigate to page number: </b></p>
            <input type="number" ng-model="goToPageNumber">
            <input type="button" ng-click="callSpecificPage()" value="GO!">
          </span>

          <span style="float: left; width: 33%">
            <p><b>Search this page: </b></p>
            <input input type="text" ng-model="searchMovies">
          </span>
          
          <span style="float: left; width: 33%">
            <p><b>Search full Database: </b></p>
            <input type="text" ng-model="firstFewLetters">
            <input type="button" ng-click="nameSearch()" value="GO!">
          </span>
        </form>
      </div>

      <br>

      <div>
        <table class="table table-striped">
          <thead>
            <tr>
                <th data-field="number" data-halign="left" data-align="right">Number</th>
                <th data-field="name" data-halign="center" data-align="left">Movie Name</th>
                <th data-field="category" data-halign="center" data-align="left">Category</th>
            </tr>
          </thead>
          
          <tbody>
            <tr ng-repeat="x in tableData | filter:searchMovies">
              <td>{{$index+1}}</td>
              <td>{{x.MovieName}}</td>
              <td>{{x.category}}</td>
            </tr>
          </tbody>
          
        </table>
      </div>

      <script>
        function allControllers($scope){
          $scope.Math = window.Math;
          $scope.totPages = $scope.Math.ceil(<%=rowCount%>/100);

          $scope.tableData = <%-JSON.stringify(data)%>;
        }
      </script>
	    
	</div>
  </body>

  <footer>
        <% include ../partials/footer %>
  </footer>
</html>
